:root {
    --theme-color-main: blue;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    background-color: var(--theme-color-main);
}

body {
    background-color: var(--theme-color-main);
}

.site-header {
    color: white;
    border-top: none;
    border-bottom: none;
    min-height: calc(100vh/9);
    height: calc(100vh/9);
    position: sticky;
    top: 0px;
    display: flex;
}

.grayscale {
    filter: grayscale(50%);
    transition: filter .3s ease-in-out;
}

.theme-bg {
    background-color: var(--theme-color-main);
}

.site-header>.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 840px;
    gap: 20px;
}

.site-title,
.site-title:visited {
    color: white;
}

marquee {
    font-family: monospace;
    font-weight: 100;
}

.page-content {
    padding: 0px;
}

.page-content>.wrapper {
    background-color: white;
    padding: 50px;
}

.site-footer {
    border: none;
}

.footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.site-footer span,
.site-footer use {
    color: white;
    fill: rgb(255, 255, 255);
}

.social-media-list li+li {
    padding-top: 0px;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.post {
    margin-bottom: 10px;
    padding: 50px 50px !important;
}

.post-content {
    margin-bottom: 0px;
}

#g-scaleToggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    color: white;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    color: white;
    text-decoration: none;
}

.header-links a:hover {
    text-decoration: underline;
}

.footer-col-wrapper:after,
.wrapper:after {
    display: none;
}

/* .post {
    position: sticky;
    top: 120px;
} */


.links-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: space-around;
}

.links-container div ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    gap: 5px;
}

iframe {
    margin: 0px 0px 20px 0px;
}