---
layout: default
---

<!DOCTYPE html>
<html lang=" {{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body data-page="home">

  {%- include header.html -%}
  {%- include header.html -%}
  {%- include header.html -%}
  {%- include header.html -%}
  {%- include header.html -%}
  {%- include header.html -%}
  {%- include header.html -%}
  {%- include header.html -%}
  {%- include main-header.html -%}
  <main class="page-content theme-bg" aria-label="Content">
    {% for post in site.posts %}
    <article class="post wrapper">
      <div class="post-info">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.date | date: "%B %-d, %Y" }}</p>
      </div>
      <div class="post-content">
        {{ post.content }}
      </div>
    </article>
    {% endfor %}
  </main>

  {%- include footer.html -%}
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>

</html>







<!-- 
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div> -->